html {
  font-family: 'JetBrains Mono', monospace;
}
body {
  background-color: #222;
  width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: auto;
}